.navbar {
  background-color: #0e0e0e;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.menu-bars {
  box-sizing: border-box;
  padding-left: 1.2rem;
  font-size: 2rem;
  background: none;
  display: block;
  width: calc(2.4rem + 32px);
  height: 60px;
  line-height: 52px;
}

.logo-image {
  width: 60px;
  height: 60px;
  position: relative;
}
.logo-image > img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.navbar-titulo{
  width: 85%;
  text-align: center;
}

#NavTitulo {
  margin: 0;
}

.navbar-login{
  display: flex;
  align-items:flex-end;
  height: 60x;
}

.menu-items > button {
  height: 60px;
  width: 100%;
  margin: 0;
}

.menu-bars-active {
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #0e0e0e;
  width: 250px;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;

}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: left;
  padding: 8px 0px 8px 0px;
  list-style: none;
  height: 50px;
  
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #0e0e0e;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
}

span {
  margin-left: 16px;
}

.menus {
  display: flex;
  list-style: none;
  height: 60px;
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin-top: 60px;
}