/* .home-container{
    display: flex !important;
    width: 90%;
    margin: 0 auto;
    padding-top: 3rem;
} */

.logo-principal{
    padding-top: 5rem;
}

.card-user{
    padding-left: 1rem;
}

.card-content{
    padding-left: 1rem;
}

.card-title{
    font-size: 2.5rem;
}

.card-content-user-variable{
    margin-bottom: 0.5rem;
}

.card-content-user-data-title{
    font-size: 1.4rem;
}

.card-content-user-data-value{
padding-left: 0.2rem;
}